@font-face {
  font-family: 'iconfont'; /* Project id 2761022 */
  src: url('iconfont.woff2?t=1631542165711') format('woff2'),
    url('iconfont.woff?t=1631542165711') format('woff'),
    url('iconfont.ttf?t=1631542165711') format('truetype');
}

[class*='icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: '\e609';
}

.icon-import:before {
  content: '\e69d';
}

.icon-export:before {
  content: '\e6a0';
}
