.editor {
  position: relative;
  height: 100%;
  // 菜单编辑区
  header {
    height: 100px;
    position: absolute;
    left: 310px;
    right: 310px;
    background-color: #ccc;
    // width: 100%;
    // padding: 0 310px;
    // box-sizing: border-box;
  }
  aside,
  section {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
  }
  // 左侧物料区
  aside {
    left: 0;
    .editor-item {
      width: 250px;
      min-height: 100px;
      margin: 20px auto;
      padding: 30px;
      box-sizing: border-box;
      background-color: rgb(248, 244, 244);
      position: relative;
      cursor: move;
      user-select: none;
      border: 1px solid #48a4f7;
      &-label {
        position: absolute;
        top: 0;
        left: 0;
        background-color: aqua;
        color: #fff;
      }
    }
  }
  // 属性控制栏
  section {
    position: absolute;
    right: 0;
  }
  main {
    padding: 100px 310px 0;
    box-sizing: border-box;
    height: 100%;
    .editor-canvas {
      height: 100%;
      overflow: auto;
      &__content {
        position: relative;
        margin: 20px auto;
        background-color: yellow;
        .editor-block {
          user-select: none;
          position: absolute;
          &-focus::after {
            border: 2px solid #f00;
          }
        }
        .mark-line-x,
        .mark-line-x {
          position: absolute;
          background-color: #ff0000;
        }
        .mark-line-x {
          width: 100%;
          height: 1px;
        }
        .mark-line-y {
          height: 100%;
          width: 1px;
        }
      }
    }
  }
}
