* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

// 遮罩
.shade-mask {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
  }
}
@import '../assets/iconfont/iconfont.css';
@import './editor.scss';
@import './dropdown.scss';

/* 修复element-plus样式 */
.el-input-number__decrease,
.el-input-number__increase {
  top: 2px;
}
